.input-bar-container{
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: $div-highlight;
    margin: 15px;
    width: 94%;
    border-radius: 12px;


    @media(max-width: $input-bar-first-breakpoint) {
        width: 84%;
    }


    .send-button{
        height: 32px;
        width: 32px;
        fill: $text-color;
        cursor: pointer;

        &:hover {
            fill: $button-highlight;
        }
    }

    .plus-circle-icon{
        fill: $text-color;
        cursor: pointer;

        &:hover{
            fill: $button-highlight;
        }
    }
    .input-bar{
        border: none;
        outline: none;
        border-radius: 12px;
        background: $div-highlight;
        font-family: $primary-font;
        color: $text-color;
        width: 100%;
        font-size: 18px;

    }
}