$navbar-first-breakpoint: 1250px;
$navbar-second-breakpoint: 950px;
$navbar-third-breakpoint:650px;
$navbar-fourth-breakpoint:370px;

$login-first-breakpoint: 750px;
$login-second-breakpoint: 485px;


$main-page-first-breakpoint:840px;
$main-page-second-breakpoint:630px;
$main-page-third-breakpoint:470px;